<div class="container mt-4">
  <h2 class="text-center">Create Post</h2>

  <div class="col-6 mx-auto">
    <div class="m-1">
      <angular-editor
        aria-multiline="true"
        [placeholder]="'Enter text here...'"
        [(ngModel)]="post.content"
        [config]="config"
      ></angular-editor>
    </div>
    <input
      type="file"
      (change)="select($event)"
      class="form-control m-1"
      placeholder="image"
    />
    <button (click)="createPost()" class="btn btn-dark form-control m-1">
      create
    </button>
  </div>
</div>
